.categorySelector {
    background-color: #303030 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    box-shadow: 0 0 10px #cf649a, 0 0 20px #cf649a;
}

.categoryLink {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 1.2em;
    
}

.categoryLink:hover {
    background-color: #cf649a !important;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 1.2em;
    border-bottom: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.Main {
    margin-top: 5% !important;
    margin-bottom: 0% !important;
    background-color: rgba(238, 238, 238, 0) !important;
}


.Appbar {
    background-color: #303030 !important;
    font-size: 1rem;
    padding: 0.5em;
   
}

@media screen and (max-width: 600px) {
    .Main {
        margin-top: 15% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .Main {
        margin-top: 10% !important;
    }
}


  


.LogoutList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #303030 ;
}

.LogoutButton {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color:#cf649ad5 !important;
  font-size: 16px;
  text-transform: uppercase;
  width: 80%;
  border: 0;
  padding: 10px 0;
  margin:auto;
  border-radius: 5px;
  background-color: #e993ff26;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
  border:1px #e993ffc7 !important;

}

.LogoutButton:hover {
  color: #e993ff !important;
  border-color: #e993ff !important;
  box-shadow: 0 0 10px #cf649a, 0 0 20px #cf649a;
  text-shadow: 0 0 10px #cf649a;

}

/*Glowing title*/
.GlowingText {
    text-align: center;
    margin: auto;
     user-select: none;
  }
  
  .GlowingText b{
    font:  2.5rem 'Roboto' !important;
    font-weight: 500 !important;
    color: #fee;
    text-shadow:  0 0 0.1em #e993ff, 0 0 0.2em #e993ff, 0 0 0.3em #e993ff;
    letter-spacing: 0.02857em;
  }
  .GlowingText b span{
    animation: blink linear infinite 2s;
  }
  .GlowingText b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  
  .DrawerHeader {
    background-color: #eee !important;
    animation: animateblinking 2s infinite;

  }

  .Userdata {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.107)!important;
    padding: 1em !important;
    
  }
  .Userdata img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 1em;

  }

  .Userdata p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  @keyframes animateblinking {
    0% {
      box-shadow: 0 0 10px #cf649a
    }


    25% {
      box-shadow: 0 0 10px #cf649a, 0 0 20px #cf649a;
    }

    50% {
      box-shadow: 0 0 10px #cf649a;
    }

    75% {
      box-shadow: 0 0 10px #cf649a, 0 0 20px #cf649a;
    }

    100% {
      box-shadow: 0 0 10px #cf649a, 0 0 20px #cf649a;
    }
  }
 

  @media screen and (max-width: 600px) {
    
  }
    
  